body{
    background-color: #FEF1D4;
    background-image: url("../img/app/Leafs-icon.png");
    /* background-size: 64px 64px; */
    background-repeat: repeat;
}

#map-container{
    height: 900px;
}

.bg-brown{
    background-color: #592800;
}

.custom-text-title{
  color: #A1836B;
}

.border-2{
  border-width: 3px !important;
}

.border-menu-item{
  border-color: #FCBC40 !important;  
}

/* menu item is selected, the border-left-color is: #D40071*/
/* menu item is selected, the bg-color is: #FFE5B2*/
/* menu item is selected, the menu item's children bg-color is: #FFFFFF*/
/* menu item is selected, the menu item's children si selected , too bg-color is: #F0F1F5*/

/* icon item navbar , color is: #0BA8C5*/

.custom-navbar{
    border-style:none;
    -webkit-box-shadow: 0 8px 6px 6px black;
	   -moz-box-shadow: 0 8px 6px 6px black;
	        box-shadow: 0 8px 6px 6px black;
}

.bg-custom {
    background-color: #fff !important;
    border-color: #FABC40;
}

.rounded-25 { border-radius: 0.50rem;}
.rounded-50 { border-radius: 1.00rem;}
.rounded-75 { border-radius: 1.50rem;}
.rounded-100 { border-radius: 2.00rem;}

.w-25 { width: 25% !important; }
.w-50 { width: 50% !important; }
.w-75 { width: 80% !important; }
.w-100 { width: 100% !important; }

.w-xs-25,
.w-xs-50,
.w-xs-75,
.w-xs-100 { width: inherit; }

.w-sm-25,
.w-sm-50,
.w-sm-75,
.w-sm-100 { width: inherit; }

.w-md-25,
.w-md-50,
.w-md-75,
.w-md-100 { width: inherit ; }

.w-lg-25,
.w-lg-50,
.w-lg-75,
.w-lg-100 { width: inherit; }

.w-xl-25,
.w-xl-50,
.w-xl-75,
.w-xl-100 { width: inherit ; }

/* Extra small devices (portrait phones, less than 576px)*/
/* No media query since this is the default in Bootstrap*/

/* Extra Small devices (landscape phones, 364px and up)*/
@media (min-width: 364px) {
  .w-xs-25{ width: 25% !important; }
  .w-xs-50{ width: 50% !important; }  
  .w-xs-100{ width: 100% !important; }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .w-sm-25{ width: 25% !important; }
  .w-sm-50{ width: 50% !important; }  
  .w-sm-100{ width: 100% !important; }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .w-md-25{ width: 25% !important; }
  .w-md-50{ width: 50% !important; }
  .w-md-75{ width: 75% !important; }
  .w-md-100{ width: 100% !important; }  
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .w-lg-25{ width: 25% !important; }
  .w-lg-50{ width: 50% !important; }
  .w-lg-75{ width: 75% !important; }
  .w-lg-100{ width: 100% !important; }  
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .w-xl-25{ width: 25% !important; }
  .w-xl-50{ width: 50% !important; }
  .w-xl-75{ width: 75% !important; }
  .w-xl-100{ width: 100% !important; }  
}

/* Markers Class */
.custom-marker{
  background-color: transparent;
  /* width: 25px;
  height:25px;     */
}

.leaflet-div-icon2
{
  background:red;
  border:5px solid rgba(255,255,255,0.5);
  color:blue;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
  line-height:30px;
}

.bs-top {
  box-shadow: 0 -5px 5px -5px #333;
}

.bs-right {
  box-shadow: -5px 0 5px -5px #333;
}

.bs-bottom {
  box-shadow: 0 5px 5px -5px #333;
}

.bs-left {
  box-shadow: 5px 0 5px -5px #333;
}

.bs-all {
  box-shadow: 0 0 5px #333;
}

.leaflet-popup-content-wrapper {
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
}

.leaflet-popup-tip-container {
}

.custom-popup .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  line-height:24px;
  }
.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
.custom-popup .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #2c3e50;
  }